<h1>Edit Post</h1>
<!-- Rails form consisting of form for post controller and the url to the post route and the PATCH HTTP verb for editing -->
<%= form_for :post, url: post_path(@post),method: :patch do |f| %>
 <!--check for errors -->
  <% if @post.errors.any? %>
  <!-- loop through error messages and print to screen -->
    <% @post.errors.full_messages.each do |msg| %>
    <!-- bootstrap alert -->
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
  <!-- form lable with title attribute we will use in the show route with Bootstrap 4 margin class-->
    <%= f.label :title, {:class => 'mx-3'} %><br>
    <!-- Text field with Bootstrap form control class and margin class -->
    <%= f.text_field :title, {:class => 'form-control m-3'} %>
  </p>
  <p>
    <%= f.label :text, {:class => 'mx-3'} %><br>
    <%= f.text_area :body, {:class => 'form-control m-3'} %>
  </p>

  <p>
  <!-- form submit button with bootstrap class -->
    <%= f.submit({:class => 'btn btn-info m-3' })%>
  </p>
<% end %>